<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
</head>
<body>
  <h1>Result : <%=title%> </h1>
  <div>
    <p>안녕하세요 <%=userInfo.id%>님!</p>
    <p>비밀번호가 <%=userInfo.pw%>네요.</p>
    <p>grade가 <%=userInfo.grade%>이군요.</p>
  </div>
</body>
</html>